// const folderListener = function( nodeName, nodeDepth, nodeId ){
//   console.log("hey");
//
//   let tree = getChildren nodeId ;
//   let branches = document.querySelector(`.${ nodeDepth }`);
//   for ( branch of branches ){
//     if ( branch.innerHTML() == `<p>${ nodeName }<input class='folder-close' onclick='folderListener(${ nodeName, nodeDepth, nodeId })' type='button'></p>` ){
//
//       branch.innerHTML(`<p>${ nodeName }<input class='folder-close' onclick='folderCloser(${ nodeName, nodeDepth, nodeId })' type='button'></p>${tree}`)
//     }
//   }
// }
//
// const folderCloser = function( nodeName, nodeDepth, nodeId ){
//
// }
